body {
  background-color: #000000;
  color: white;
}
header {
  display: inline-flex;
}
.logoName {
  width: 500px; 
  height: 50px;
  float: left;
  font-size: xx-large;
  font-family: fantasy;
  margin-top: 17px;
}
.rightSide {
  position: relative;
  left: 30%;
  float: right;
  top: 20px;
}
nav.rightSide a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-size: 20px;
  font-weight: bolder;
}
nav.rightSide a:hover {
  text-decoration: underline;
  color: #d73952;
}
img {
  width: 500px;
  margin-left: 700px;
}
.heading {
  position: absolute;
  top: 31%;
  left: 38%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: bolder;
  color: white;
}
.solid {
  width: 50px;
  margin-left: 400px;
  padding-top: -4px;
  border-top: 2px solid #d73952;
}
.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

#GS {
  position: absolute;
  top: 51%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bolder;
  color: #d73952;
}
#GS {
  color: white;
  border: 1px solid #d73952;
}
#GS:hover {
  background-color: #d73952;
  color: white;
}
.table {
  position: absolute;
  left: 25%;
  top: 520px;
  bottom: 10px;
}
.tableCell {
  width: 300px;
  height: 250px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid black;
  background-color: #1b1b1b;
}
.icons {
  color: white;
  margin-top: 40px;
  padding-left: 40px;
}
div.tableCell h4 {
  padding-left: 30px;
}
div.tableCell span.para {
  width: fit-content;
  position: relative;
  left: 15px;
}
.horizontal {
  width: 40px;
  position: relative;
  top: -19px;
  left: 30px;
  bottom: 30px;
  border-top: 2px solid #d73952;
}
.verticl {
  position: relative;
  top: 37px;
  left: 137px;
  bottom: 30px;
  border-left: 3px solid #d73952;
  height: 40px;
}
.borderBottom {
  position: relative;
  top: 37px;
  left: 1px;
  bottom: 30px;
  /* height: 40px; */
  border-bottom: 23px solid #d73952;
  /* border-right: 23px solid #d73952; */
}
.borderRight{
 
  position: relative;
  top: -21px;
  left: 17px;
  height: 58px;
  border-right: 23px dashed #d73952;
}
.tableCell:hover{
  background-color:#d73952;
  color: black;
}
.icons:hover{
  color: white;
}

